@model List<Livro>
@{
    ViewData["Title"] = "Listagem de Livros";
    int FiltroPorPag = Int32.Parse(ViewData["livrosPorPagina"].ToString());
    int PaginaAtual = Int32.Parse(ViewData["PaginaAtual"].ToString());
    
    int NumLivrosPorPag = (Model.Count < FiltroPorPag ? Model.Count : FiltroPorPag);
    int NumTotalDePag = 0;
    if (NumLivrosPorPag > 0)
    {
        NumTotalDePag = Model.Count / NumLivrosPorPag + (Model.Count % NumLivrosPorPag == 0 ? 0 : 1);
    }  
  }  
<style>
    .formAlign {
        display: flex;
    }
</style>
<div class="row">
    <div class="col-md-12">
    <div id="SeletorPaginas" class="text-right">
        @if (Model.Count > 0){
                    <span class="lead">Página:</span>
                    @for (int i = 1; i <= NumTotalDePag; i++)
                    {
                        <span>
                            <a href="/Livro/Listagem?PaginaAtual=@i" class="btn btn-outline-primary" role="button">@i</a>
                        </span>
                    }
                    }else{
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                   }
    </div>
    <form class="formAlign" method="POST">
        <div class="form-group mb-2">
            <select name="TipoFiltro" class="form-control">
                <option value="Autor">Autor</option>
                <option value="Titulo">Título</option>
            </select>
        </div>
        <div class="form-group mb-2 mx-sm-3">
            <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
        </div>

        <div>
            <select name="itensPorPagina" id="itensPorPagina" class="form-control"> 
                <option value="10">10 Livros</option>
                <option value="15">20 Livros</option>
                <option value="30">30 Livros</option>
                <option value="50">50 Livros</option>
                <option value="@Model.Count">Todos</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mb-2" style="margin-left: 10px;">Pesquisar</button>
        @if (Model.Count > 0) {
        
        }else{
             <a class="btn btn-outline-success mb-2" style="margin-left: 10px;" href="/Livro/Cadastro">Cadastrar Livro</a>
        }

    </form>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            @if (Model.Count > 0)
            {
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = (PaginaAtual-1) * NumLivrosPorPag; i < (NumLivrosPorPag * PaginaAtual < Model.Count ? NumLivrosPorPag * PaginaAtual : Model.Count); i++)
                    {
                        <tr>
                            <td>@Model[i].Id</td>
                            <td>@Model[i].Titulo</td>
                            <td>@Model[i].Autor</td>
                            <td>@Model[i].Ano</td>
                            <td><a href="/Livro/Edicao/@Model[i].Id" class="btn btn-primary">Editar</a>
                            </td>
                        </tr>
                    }

                </tbody>
            }
            else
            {
                <thead>
                    <tr>
                        <th>Livro não encontrado! Revise o filtro.</th>
                    </tr>
                </thead>
            }
        </table>
    </div>
</div>
                     @if (Model.Count > 0){
                    <div id="SeletorPaginas" class="text-center">
                        <span class="lead">Página:</span>
                        @for (int i = 1; i <= NumTotalDePag; i++)
                        {
                            <span>
                                <a href="/Livro/Listagem?PaginaAtual=@i" class="btn btn-outline-primary" role="button">@i</a>
                            </span>
                        }
                    </div>
                   }else{
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                   }