@model Usuario

<h1 class="row justify-content-md-center">Realize a edição do Usuário</h1>
<div class="row justify-content-md-center">
  <div class="jumbotron col-6">
  <form action="EditarUsuario" method="post">
    <div class="form-group">
      <input type="text" class="form-control" name="NomeUsuario" id="userNomeUsuario" value="@Model.NomeUsuario">
    </div>
    
    <div class="form-group">
      <input type="text" class="form-control" name="Login" id="userLogin" value="@Model.Login">
    </div>
    
    <div class="form-group">
        <input type="text" class="form-control" name="SenhaUsuario" id="userSenhaUsuario" value="@Model.SenhaUsuario">
    </div>
  

    <div class="form-group">
      <select class="form-control" name="Tipo" id="userTipo">
        <option value="@Usuario.ADMIN">Administrador</option>
        <option value="@Usuario.USER">Padrão</option>
      </select>
    </div>
    

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
      <input type="submit" value="Salvar" class="btn btn-primary btn-block"/>
    </div>
    
    <div class="form-group">
        <a href="/Usuario/ListaDeUsuarios" class="btn btn-outline-danger btn-block">Cancelar</a>
    </div>  
  </form> 
</div>
</div>